
<form action="/payment/results">
  <div><label for="apr">APR</label> <input type="text" placeholder="E.g. 5.42" id="apr" name="user_apr"> </div>
  <div><label for="years">Number of years</label> <input type="text" placeholder="How many years to repay?" id="years" name="user_years"> </div>
  <div><label for="pv">Principal</label> <input type="text" placeholder="How much principal?" id="pv" name="user_pv"> </div>
  <div><button>Calculate monthly payment</button></div>
</form>
