
<form action="/payment/results">
  <div>APR <input type="text" placeholder="E.g. 5.42" id="user_apr" name="apr"> </div>
  <div>Number of years <input type="text" placeholder="How many years to repay?" id="user_years" name="years"> </div>
  <div>Principal <input type="text" placeholder="How much principal?" id="user_pv" name="principal"> </div>
  <div><button>Calculate monthly payment</button></div>
</form>
