Enter a number
<form action="/square/results">
  <input type="text" placeholder="What number do you want to take the square of?" id="square_input" name="number">
  <div><button>Calculate square</button></div>
</form>
