Enter a number
<form action="/square_root/results">
  <input type="text" placeholder="What number do you want to take the square root of?" id="square_input" name="number">
  <div><button>Calculate square root</button></div>
</form>
