<form action="/square/results">
  <div><label for="input">Enter a number</label></div>
  <div><input type="text" placeholder="What number do you want to take the square of?" id="input" name="number"></div>
  <div><button>Calculate square</button></div>
</form>
